.header {
  padding: 1.9rem 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6.5rem;

    li {
      list-style: none;
      text-align: center;

      .title {
        font-size: 1.4rem;
        font-weight: 700;
        color: white;
      }

      .subtitle {
        font-size: 1.4rem;
        font-weight: 400;
        color: #c9c3f3;

        span {
          color: var(--primary-color);
          font-weight: 700;
          font-size: 1.6rem;
        }
      }
    }
  }
}
